
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    height: 520px;
    padding: 40px 36px 0 36px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url('./assets/pink-sky.jpeg');
}

/* Icons style  */

.icons-container {
    padding-top: 100px;  

}

.icon-boarder { 
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    width: 40px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.icon-img {
    width: 20px;
    height: 20px;
}

/* Header text style */

.info-text {
    padding-right: 30px;
    padding-top: 30px;  
}

.top-text {
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 2px;
    margin: 0;
 }

 .regual-font {
    font: 13px/15px Roboto;
 }

 .bold-font {
    font: Bold 13px/15px Roboto;
 }

.title-text {
   font: Bold 40px/49px Montserrat;
   letter-spacing: 0;
   color: #FFFFFF;
   margin: 0;
}

.under-text {
   padding-top: 5px;
   font: Bold 30px/25px Montserrat;
   color: #FFFFFF;
   margin: 0;
}

/* Profile image */

.person-image {
    margin-top: 30px;
}

.person-image img {
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    width: 180px;
}

/* Section 1 style */

.bgcray-portfolio-section1 {
    height: 360px;
    padding: 40px 36px 0 36px; 
    background-color: rgba(95, 94, 94, 0.062);
}

.secation1-text {
    font-family: 'Montserrat';
    font-size: 22px; 
}

/* Section 2 style */

.portfolio-section2{
    height: 360px;
    padding: 40px 36px 0 36px;  
}

.secation2-titel {
   text-align: center;
   font: Bold 15px/27px Montserrat;
   text-transform: uppercase;
   color: #FFFFFF;
}

.secation2-titel span {
    background-color: #FA382F;
}

.secation2-text {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px; 
}

/* Section 3 style */

.bgcray-portfolio-section3 {
    height: 1200px;
    padding: 40px 36px 0 36px;
    background-color: rgba(95, 94, 94, 0.062); 
}

.secation3-titel-1 {
   text-align: center;
   font: Bold 15px/27px Montserrat;
   text-transform: uppercase;
   width: 300px;
   color: #FFFFFF;
   padding-bottom: 30px;
}

.secation3-titel-1 span {
    background-color: #FA382F;
}

.secation3-titel-2 {
    text-align: center;
    font: Bold 15px/27px Montserrat;
    text-transform: uppercase;
    width: 300px;
    color:  #FA382F;
    padding-bottom: 5px;
 }


.flexContainer-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin: 0;
}

.collum-project {
    width: 300px;
    height: 300px;
    margin: 10px 0px;
}

.project-image { 
    width: 300px;
}

.project-text {
    font: 17px/29px Roboto;
}

.project-text span {
    font: Bold 17px/29px Roboto;
    text-transform: uppercase;
    color: #FA382F;
}

.project-link1 {
    color: #FA382F; 
}

.project-keywords {
    display: flex;
    padding-top: 8px;
}

.project-keywords p {
    font: 10px/10px Roboto;
    text-transform: uppercase;
    background-color: #FDDFE7;
    text-align: center;
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}


.collum-otherproject {
    margin: 15px 0px;
}

/* Section 4 style */

.portfolio-section4 {
    height: 1200px;
    padding: 40px 36px 0 36px;
}
