
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    height: 400px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url('./assets/pink-sky.jpeg');
}

/* Icons style  */

.icons-container {
    padding-top: 80px;  
    padding-right: 300px;

}

.icon-boarder { 
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.icon-img {
    width: 20px;
    height: 20px;
}

/* Header text style */

.info-text {
    padding-right: 30px;
    padding-top: 30px; 
    padding-right: 600px;
    margin: 0;
}

.top-text {
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
 }

 .regual-font {
    font: 13px/15px Roboto;
 }

 .bold-font {
    font: Bold 13px/15px Roboto;
 }

.title-text {
   font: Bold 40px/49px Montserrat;
   letter-spacing: 0;
   color: #FFFFFF;
}

.under-text {
   padding-top: 5px;
   font: Bold 25px/25px Montserrat;
   color: #FFFFFF;
}

/* Profile image */

.profile-image{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
}

/* Section 1 style */

.bgcray-portfolio-section1 {
    height: 310px;
    padding: 40px 36px 0 36px; 
    background-color: rgba(95, 94, 94, 0.062);
}

.section1-text {
    padding-top: 40px;
    font-family: 'Montserrat';
    font-size: 25px; 
}

/* Section 2 style */

.portfolio-section2{
    height: 360px;
    padding: 40px 36px 0 36px;  
}

.section2-titel {
   text-align: center;
   font: Bold 15px/27px Montserrat;
   text-transform: uppercase;
   color: #FFFFFF;
}

.section2-titel span {
    background-color: #FA382F;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.section2-text {
    padding-top: 25px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px; 
}

/* Section 3 style */

/* Section 3 style Featured projects showing section */

.bgcray-portfolio-section3 {
    height: 100px;
    padding: 40px 36px 0 36px; 
    background-color: rgba(95, 94, 94, 0.062); 
    align-content: center;
}

.section3-titel-1 {
   text-align: center;
   font: Bold 15px/27px Montserrat;
   text-transform: uppercase;
   color: #FFFFFF;
}

.section3-titel-1 span{
    background-color: #FA382F;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
}

.collum-project {
    width: 250px;
    height: 300px;
    margin: 10px;
}

.text-overlay{
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.project-image { 
    position: relative;
    width: 250px;
}

.project-text {
    font: 15px/25px Roboto;
}

.project-text span {
    font: Bold 17px/29px Roboto;
    text-transform: uppercase;
    color: #FA382F;
} 

.project-link1 {
    color: #FA382F; 
}


.project-keywords {
    display: flex;
    padding-top: 8px;
    padding-bottom: 15px;
}

.project-keywords p {
    font: 10px/10px Roboto;
    text-transform: uppercase;
    background-color: #FDDFE7;
    text-align: center;
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Section 3 Other projects showing section */


.section3-titel-2 {
    text-align: center;
    font: Bold 15px/27px Montserrat;
    text-transform: uppercase;
    color:  #FA382F;
 }

 .flexContainer-otherproject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-top: 8px;
}

.otherproject-center {
    padding-top: 20px;
    margin: 2px;
    width: 600px;
}

.otherproject-text {
    font: 15px/29px Roboto;
}

.otherproject-text span {
    font: Bold 17px/29px Roboto;
    text-transform: uppercase;
    color: #FA382F;
}

.otherproject-keywords {
    display: flex;
    padding-top: 8px; 
}

.otherproject-keywords p {
    font: 10px/10px Roboto;
    text-transform: uppercase;
    background-color: #FDDFE7;
    text-align: center;
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Section 4 style */

/* Section 4 style resent blog posts */

.portfolio-section4 {
    height: 850px;
    padding: 40px 36px 0 36px;  
}

.section4-titel-1 {
   text-align: center;
   font: Bold 15px/27px Montserrat;
   text-transform: uppercase;
   color: #FFFFFF;
}

.section4-titel-1 span {
    background-color: #FA382F;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}


.Container-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 300px;
    padding-top: 20px;
}

.blog-box {
    margin: 10px;
    width: 300px;
    height: 400px;
}

.blog-image {
    width: 300px;
    height: 220px;
}

.blog-text h2 {
    padding-top: 10px;
    letter-spacing: 1;
    font: 15px/20px Roboto;
    color:  #FA382F;
    text-transform: uppercase;
}

.blog-text h3 {
    font: Bold 21px/32px Roboto;
}

.blog-text p {
    font: 17px/32px Roboto;
}

.blog-link1 {
    color: #FA382F; 
} 

/* Section 4 style arcived blog posts */

.section4-titel-2 {
    padding-top: 200px;
    text-align: center;
    font: Bold 15px/27px Montserrat;
    text-transform: uppercase;
    color:  #FA382F;
 }


.blog-othercontainer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 8px;
}

.otherblog-text {
    font: bold 17px/32px Roboto;  
    margin: 3px;
    padding-right: 200px;
    padding-top: 20px;
}

.otherblog-text span {
    padding-top: 10px;
    letter-spacing: 1;
    font: 17px/32px Roboto;
    color:  #FA382F;
    text-transform: uppercase;
}


/* Section 5 style */

.bgcray-portfolio-section5{
    height: 450px;
    padding: 40px 36px 0 36px;  
    background-color: rgba(95, 94, 94, 0.062); 
}

.section5-titel-1 {
    text-align: center;
    font: Bold 15px/27px Montserrat;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section5-titel-1 span {
    background-color: #FA382F;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}

.collum-skills {
    align-items: center;
    margin: 30px;
    padding: 0;
}

.skills-header {
    text-align: center;
    font: Bold 17px/29px Roboto;
    letter-spacing: 0;
    color: #FA382F;
    text-transform: uppercase;
}

.collum-skills p {
    text-align: center;
    font: 15px/29px Roboto;
    letter-spacing: 0;
}

/* Section 6 social media symbols style */

.portfolio-section6 {
    height: 260px;
    padding: 40px 36px 0 36px;  
}

.section6-titel-1 {
    padding-top: 35px;
    text-align: center;
    font: Bold 15px/27px Montserrat;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section6-titel-1 span {
    background-color: #FA382F;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.botton-icon-Container {
    display: flex;
    padding-top: 55px;
    text-align: center;
    justify-content: center;
}

.icon-line {
    width: 200px;
    height: 200px;
}

.icon-boarder-s6 {
    border-radius: 50%;
    border: 3px solid #FA382F;
    width: 40px;
    height: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

.icon-img-s6 {
    width: 25px;
    height: 25px;
}

.icon-name1 {
    font: Bold 12px/41px Roboto;
    letter-spacing: 0;
    color: #FA382F;
    text-transform: uppercase;
    padding-top: 15px;
    text-align: center;
}

.icon-name2 {
    font: Bold 12px/41px Roboto;
    letter-spacing: 0;
    color: #FA382F;
    text-transform: uppercase;
    padding-top: 15px;
    text-align: center;
}


.icon-name3 {
    font: Bold 12px/41px Roboto;
    letter-spacing: 0;
    color: #FA382F;
    text-transform: uppercase;
    padding-top: 15px;
    text-align: center;
}

/* footer contact style */

footer {
    height: 260px;
    padding: 40px 36px 0 36px;  
    background-image: url('./assets/pink-sky.jpeg');
}

.footer-title {
    padding-top: 35px;
    text-align: center;
    font: Bold 20px/27px Montserrat;
    text-transform: uppercase;
    color: #FFFFFF;
}

.name-title {
    padding-top: 15px;
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    font: Bold 18px/29px Roboto;
}

.phone-title {
    padding-top: 5px;
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    font: 17px/29px Roboto;
}

.email-title {
    padding-top: 5px;
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    font: 17px/29px Roboto;
}




@media(max-width: 1500px) {

    .bgcray-portfolio-section3 {
        height: 900px;
    }
}

@media(max-width: 900px) {
    .bgcray-portfolio-section3 {
        height: 1200px;
    }
}

@media(max-width: 1200px) {
    .bgcray-portfolio-section3 {
        height: 1200px;
    }
}

/* Tablet style */

@media(max-width: 800px) {
    
    header {
        height: 520px;
        padding: 40px 36px 0 36px;
        margin-bottom: 5px;
    }

    .bgcray-portfolio-section3 {
        height: 1200px;
    }

    .portfolio-section4 {
        height: 1300px;
    }

    .section4-titel-2 {
        padding-top: 600px;
    }

    .bgcray-portfolio-section5 {
        height: 600px;
    }
   
}

@media(max-width: 600px) {

    header {
        height: 520px;
        padding: 40px 36px 0 36px;
        margin-bottom: 5px;
    }

    .info-text {
        padding-right: 30px;
        padding-top: 30px; 
    }
    
    /* Icons style  */
    
    .icons-container {
        padding-top: 100px;  
        padding-right: 30px;
    
    }
    
    .icon-boarder { 
        border-radius: 50%;
        border: 3px solid #FFFFFF;
        width: 40px;
        height: 40px;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .icon-img {
        width: 20px;
        height: 20px;
    }
    
    /* Header text style */
    
    .info-text {
        padding-right: 30px;
        padding-top: 30px; 
    }
    
    .top-text {
        letter-spacing: 1px;
        color: #FFFFFF;
        text-transform: uppercase;
        padding-bottom: 2px;
        margin: 0;
        padding-left: 20px;
     }
    
     .regual-font {
        font: 13px/15px Roboto;
     }
    
     .bold-font {
        font: Bold 13px/15px Roboto;
     }
    
    .title-text {
       font: Bold 40px/49px Montserrat;
       letter-spacing: 0;
       color: #FFFFFF;
       margin: 0;
       padding-left: 20px;
    }
    
    .under-text {
       padding-top: 5px;
       font: Bold 25px/25px Montserrat;
       color: #FFFFFF;
       margin: 0;
       padding-left: 20px;
    }

    .person-image {
        display: flex;
        justify-items: right;
        background-color: darkgoldenrod;
    }
    
    .person-image img{
        border-radius: 50%;
        border: 3px solid rgb(255, 255, 255);
        width: 170px;
    }

    .bgcray-portfolio-section3 {
        height: 1800px;
    }

    .portfolio-section4 {
        height: 1300px;
    }

    .section4-titel-2 {
        padding-top: 600px;
    }

    .otherproject-center {
        text-align: center;
        margin: 3px;
    }

    .otherproject-text {
        font: 12px/29px Roboto;
    }

    .otherproject-keywords {
        display: flex;
        padding-top: 8px; 
        padding-left: 90px;
    }
    
    .otherproject-keywords p {
        font: 9px/10px Roboto;
    }

    .otherblog-text {
        font: bold 17px/32px Roboto;  
        margin: 3px;
        padding: 0;
    }

    .bgcray-portfolio-section5 {
        height: 600px;
    }

}
